@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h3>HomePage</h3>
    </div>
    <div class="CenterButtons">
        <button class="btn btn-outline-dark">@Html.ActionLink("Engineers", "Index","Engineers")</button>
        <button class="btn btn-outline-dark">@Html.ActionLink("Machines", "Index","Machines")</button>
    </div>
</div>



</div>