@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h3>HomePage</h3>
    </div>
    <div class="CenterButtons">
        <button class="btn btn-outline-dark">@Html.ActionLink("Add New Engineers", "Create","Engineers")</button>
        <button class="btn btn-outline-dark">@Html.ActionLink("Add New Machines", "Create","Machines")</button>
    </div>
</div>



</div>