@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h4>Home</h4>
        <h1>Dr. Sillystringz's Factory</h1>
    </div>
    <div class="CenterButtons">
        <button class="btn btn-outline-dark">@Html.ActionLink("Add New Engineers", "Create","Engineers")</button>
        <button class="btn btn-outline-dark">@Html.ActionLink("Add New Machines", "Create","Machines")</button>
    </div>
</div>
