body {
  background-color: #fcbf49;
  color: #003049;
}
nav {
  background-color: #f77f00;
}
.jumbotron {
  background-color: #eae2b7;
}
.btn {
  background-color: #003049;
  color: #eae2b7;
}
