@{
  Layout = "_Layout";
}
@using Factory.Models;


<div class="container">
  <div class="jumbotron">
    <h1>@Model.Name Page</h1>
  </div>
  @if (Model.Licenses.Count == 0)
  {
    <p>@Model.Name has no Machines.</p>
  }
  <ol>
    @foreach (License license in Model.Licenses)
    {
      <li>@license.Machine.Name</li>
    }
  </ol>



</div>
